header {
    border: 2px solid black;
    padding: 15px;
}

body {
    border: 1px solid black;
    background-image: url(https://i.pinimg.com/736x/86/35/dc/8635dcfaae0db5d0157f13296e42d70b.jpg);
}

nav {

}

menu {
    width: 25%;
}

main {
    width: 50%;
}

section {

}

aside {
    width: 25%;
}

article {

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background: blue;
    border: 2px solid orangered;
}

div {
    border: 2px thick dotted black
}