header {
    border: 2px solid black;
    padding: 15px;
}

body {
    border: 1px solid black;
    background-image: url(https://media.istockphoto.com/id/1157830224/video/smoke-on-black-abstract-background.jpg);
}

nav {

}

menu {
    width: 25%;
}

main {
    width: 50%;
}

section {

}

aside {
    width: 25%;
}

article {

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    background: blue;
    border: 2px solid orangered;
}

div {
    border: 2px thick dotted black
}