header {
    padding:15px;
}

body {
    background-image: url(https://wallpapers.com/images/featured/27b2k2cr473rb17g.jpg);
}

nav {
}

menu {
    width: 25%;
}

main {
    width: 50%;
}

section {
}

aside {
    width: 25%;
}

article {
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background: blue;
    border: 2px solid orangered;
}

div {
    padding: 15px;
}